.text-center{
	width:100%;
	display: block;
	text-align: center !important;
}

.margin-bottom-small{
	margin-bottom: 3rem;
}

.margin-bottom-medium{
	margin-bottom: 6rem;
}

.margin-bottom-large{
	margin-bottom: 10rem;
}

.margin-top-large{
	margin-top: 10rem;
}

.margin-top-small{
	margin-top: 2rem;
}

.min-height-90{
	min-height: 9rem;
}

// .abs-rel{
// 	position: relative;
// }

// .abs-pos{
// 	position: absolute;
// 	z-index: 999;

// 	&-center{
// 		margin: 0 auto;
// 	}
// }