.text-center{
	width:100%;
	display: block;
	text-align: center;
}

.margin-bottom-small{
	margin-bottom: 3rem;
}

.margin-bottom-medium{
	margin-bottom: 6rem;
}

.margin-bottom-large{
	margin-bottom: 10rem;
}

.min-height-90{
	min-height: 9rem;
}