$purple-blue : #7A37FE; 
$purple-light: #B995FE;
$purple : #8F56FD;
$purple-light-2 : #9777D5;
$pink-purple : #EA4F8B;
$text-color-default : #666;
$body-background-color: rgb(66, 15, 49);
$gray-color-1 : #f7f7f7;

// heading color
$primary-heading-color: #fff;

// font
$default-global-font : 62.5%;
$default-global-line-height : 1.7;
$default-global-font-weight: 400;

// grid
$grid-columns : 12;
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal : 6rem;

$sm: 56rem;
$md: 99rem;
$lg: 117rem;