*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection{
	background: lighten($pink-purple , 15%);
}

html {
	font-weight: $default-global-font-weight;
	line-height: $default-global-line-height;
	color: $text-color-default;
	font-size: $default-global-font;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
  }
  
@-ms-viewport {
	width: device-width;
}
  
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}


body{
	font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 3rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// background: $body-background-color;
}